{% extends "base.html" %} {% load django_vite %} {% block content %}
<div id="app">
	<app></app>
</div>
{% endblock content %} {% block js %} {{ block.super }}
<script>
	var ext_id = {{ energy_id | safe }};
    var ext_energy_dico = {{ energy_list | safe }};
	var ext_energy_detail_js_url = '{% url 'pokedex:energy_detail_js' energy_id %}';
	var ext_energy_list_url = '{% url 'pokedex:energy_list' %}';
</script>
{% vite_hmr_client %} {% vite_asset 'src/apps/energy_detail/energy_detail.js' %} {% endblock js %}
