{% extends "base.html" %}

{%block content%}
<title>Home</title>
<h1>
    Welcome to The Pokeymen TCG site
</h1>

<div class="explainer container bg-light rounded border" style="opacity: 0.9">
    <h3>Home</h3>
    <p>
       The landing page for our website. Contains links to other
       apps and a brief overview of them. Please use the load initial data button on the nav bar before using the rest of the site.
    </p>
 </div><br>
 <div class="explainer container bg-light rounded border" style="opacity: 0.9"> 
    <h3>Pokemon, Trainer, Energy List</h3>
    <p>
       Displays a list of all cards in the database. Click on each card in the list to get more
       details about it. You can also delete cards after getting details about it.
    </p>
 </div><br>
 <div class="border explainer container bg-light rounded" style="opacity: 0.9"> 
    <h3>Search for cards</h3>
    <p>
       Displays a page where you can type a pokemon name/card name into a field, and search for pokemon card results based on your text. 
       You can filter the results by rarity, and you can click on a card to add it to your database.
    </p>
 </div>
 <div class="border explainer container bg-light rounded" style="opacity: 0.9"> 
    <h3>Card data</h3>
    <p>
       Displays a page with generated charts giving you general information about your database.
    </p>
 </div>



{% endblock content %}