{% extends "base.html" %} {% load django_vite %} {% block content %}
<div id="app">
	<app></app>
</div>
{% endblock content %} {% block js %} {{ block.super }}
<script>
	var ext_id = {{ pokemon_id | safe }};
    var ext_pokemon_dico = {{ pokemon_list | safe }};
	var ext_pokemon_detail_js_url = '{% url 'pokedex:pokemon_detail_js' pokemon_id %}';
	var ext_pokemon_list_url = '{% url 'pokedex:pokemon_list' %}';
</script>
{% vite_hmr_client %} {% vite_asset 'src/apps/pokemon_detail/pokemon_detail.js' %} {% endblock js %}
