{% extends "base.html" %} {% load django_vite %} {% block content %}
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

 	<!-- jQuery library -->
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
 
 	<!-- Latest compiled JavaScript -->
 	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
</head>
<div id="app">
	<app></app>
</div>
{% endblock content %} {% block js %} {{ block.super }}
<script>
	var ext_id = {{ trainer_id | safe }};
    var ext_trainer_dico = {{ trainer_list | safe }};
	var ext_trainer_detail_js_url = '{% url 'pokedex:trainer_detail_js' trainer_id %}';
	var ext_trainer_list_url = '{% url 'pokedex:trainer_list' %}';
</script>
{% vite_hmr_client %} {% vite_asset 'src/apps/trainer_detail/trainer_detail.js' %} {% endblock js %}
