{% load static %}

<!DOCTYPE html>
<html>

<head>
    {% block head %}
    {% endblock head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
         <!-- Latest compiled and minified CSS -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

 <!-- jQuery library -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
 
 <!-- Latest compiled JavaScript -->
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 


</head>

<body class="d-flex flex-column min-vh-100">
    {% url 'logout' as url_logout %}
    {% url 'login' as url_login %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'pokedex:home' %}">ThePokeymenTCG</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'pokedex:home' %}">Home</a></li>
            <li><a href="{% url 'pokedex:loadInitialData' %}">Load Initial Data</a></li>
            <li><a href="{% url 'pokedex:pokemon_list' %}">Pokemon List</a></li>
            <li><a href="{% url 'pokedex:trainer_list' %}">Trainer List</a></li>
            <li><a href="{% url 'pokedex:energy_list' %}">Energy List</a></li>
            <li><a href="{% url 'pokedex:searchInput' %}">Search for cards</a></li>
            <li><a href="{% url 'cardData:showData' %}">Card data</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li>
                    <div class="col-auto d-flex align-items-center">
                        login: {{user.username}}
                    </div>
                    <div class="col-auto">
                        <form action="{{url_logout}}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary ms-3 pull-right"
                                id="logbtn">Logout</button>
                        </form>
                    </div>
                </li>
                {% else %}
                <div class="col">
                    <a class="btn btn-primary" href="{{ url_login }}" role="button">Login</a>
                </div>
                {% endif %}
          </ul>
        </div>
    </nav> 
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-7 d-flex align-items-center">
                        <div class="row" style="width: 110%">
                            <div class="col">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}
        {% block content %}
        {% endblock content %}
    </div>
</body>

{% block js %}
{% endblock js %}


</html>